:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: black;
    --secondary-text-color: #757575;
    --primary-text-btn-color: #FFFFFF;
    --accent-color: #2196F3;}
body{
        font-family: 'Roboto', sans-serif;;}
.list{
    list-style: none;}
.link{
    text-decoration: none;}
.logo{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color)}
.colorlogo{
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);}
.nav-list-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);}
.nav-list-link:hover,
.nav-list-link:focus{ 
color: var(--accent-color);}
.list .current 
{color: var(--accent-color);}
.contact-mail{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--secondary-text-color);}
.contact-mail:hover,
.contact-mail:focus{
color:var(--accent-color);}
.contact-number{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);}
.contact-number:hover,
.contact-number:focus{
color: var(--accent-color)}
.active-page{
color: var(--accent-color)}
.main{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-text-btn-color);}
.back-color{
background-color: #2F303A;}
.modal-btn{
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-text-btn-color);
cursor: pointer;
border: 0px;
border-radius: 3px;
background-color: var(--accent-color);}
.modal-btn:hover,
.modal-btn:focus{
color: #188CE8;}
.about-title{
font-weight: bold;
font-size: 14px;
line-height: 1.19;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}
.about-section{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;}
.about-work{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #212121;}
.about-us{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
background-color: #F5F4FA;
color: #212121;}
.cards{
background-color: var(--primary-text-btn-color);
}
.about-us-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;}
.about-us-job{
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;}
.footer{
background-color:#2F303A;}
.colorlogo-footer{
color: white; }
.contacts-footer{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);}
.contacts-adress-footer{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;}

.contact-list-link:hover,
.contact-list-link:focus{
color: #2196F3;}
.btn-portfolio{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
border: 0px;
cursor: pointer;}
.btn-portfolio:hover,
.btn-portfolio:focus {
background-color: #2196F3;
color:#FFFFFF;}

.portfolio-list-name{
 font-style: normal;
 font-weight: bold;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;  
 color: #212121;}

 .btn-portfolio-list{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
color: #757575;}
